# Supabase
.branches
.temp
.env
# dotenvx
.env.keys
.env.local
.env.*.local

.env
supabase/functions/create-checkout-session/.env
supabase/functions/create-checkout-session/.env.devolopment
supabase/functions/create-checkout-session/run.ps1

.env
*.env
supabase/functions/create-checkout-session/.env
supabase/functions/create-checkout-session/*.env
supabase/functions/create-checkout-session/run.ps1
